body{
    background-color: rgb(36, 117, 117);
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

td{
    background-color: aqua;
    padding: 5rem 5rem;
}