*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 118, 118);
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h1{
    margin-top: 2rem;
}

button{
    cursor: pointer;
    font-size: 4rem;
    border: none;
    background: transparent;
    margin-top: 6rem;
    padding: 0 1.8rem;
    transition: all 0.3s;
    margin: 1.4rem;
}

.rock{
    background-color: rgb(116, 110, 110);
    border-radius:100%;
    padding: 1rem 1.8rem;
}
.paper{
    background-color: rgb(237, 233, 233);
    border-radius:100%;
    padding: 1rem 1.8rem;
}
.scissors{
    background-color: rgb(125, 246, 232);
    border-radius:100%;
    padding: 1rem 1.8rem;
}

.rock:hover{
    background-color: rgb(94, 95, 98);
    transform: translate(0.5);
}
.paper:hover{
    background-color: rgb(187, 189, 193);
    transform: translate(0.5);
}
.scissors:hover{
    background-color: rgb(76, 206, 232);
    transform: translate(0.5);
}

.users{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
    gap: 8.2rem;
}

span{
    text-transform: uppercase;
}